<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="onlyPolishHead">
    <meta charset="UTF-8">
    <title>OnlyPolish</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="style.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
</head>

<style>

    .table.table-borderless > tbody > tr > td,
    .table.table-borderless > tbody > tr > th,
    .table.table-borderless > tfoot > tr > td,
    .table.table-borderless > tfoot > tr > th,
    .table.table-borderless > thead > tr > td,
    .table.table-borderless > thead > tr > th {
        border-top: none;
    }

    .applicationForm{
        padding: 30px;
        margin: 30px;
        background-color: rgb(238, 238, 238);
    }

</style>

<body style="padding-top: 0px">
<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-default">
    <div class="container-fluid" style="background:  #6d7fbb;">
        <ul class="nav navbar-nav" style="float: left; background:  #6d7fbb;">
            <li><a href="adminPage">Użytkownicy</a></li>
            <li><a href="adminViewApplicationForms">Zgłoszenia</a></li>
            <li><a href="adminViewSecurityAlert">Alerty bezpieczeństwa</a></li>
            <li><a href="adminViewBugReport">Powiadomienia o błędach</a></li>
            <li><a href="adminViewEditStatute">Zarządzaj regulaminem</a></li>
            <li><a href="adminViewEditNews">Zarządzaj aktualnościami</a><!--todo: build in future-->
            </li><li><a href="logout">Wyloguj</a></li>
        </ul>
    </div>
</nav>


<br>
<br>
<!--/*@thymesVar id="flashMessageManager" type="onlypolish.flashmessage.FlashMessageManager"*/-->
<th:block th:if="${flashMessageManager != null && flashMessageManager.issetMessage()}">
    <div id="message">
        <div style="padding: 5px;" th:with="flashMessage=${flashMessageManager.getFlashMessage()}" >
            <div class="alert alert-dismissible" th:classappend="${flashMessage.type.toBootstrapClass()}" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p th:text="${flashMessage.message}"></p>
            </div>
        </div>
    </div>
</th:block>

<div class="col-xs-12 col-sm-9">
    <h2>Formularze zgłoszeniowe</h2>
    <div class="applicationForm" th:each="applicationForm :${applicationForms}">
        <h3>Status zgłoszenia: <span th:if="${applicationForm.isWaiting()}">Oczekujące</span><span th:if="${applicationForm.isConsidered()}">Rozpatrywane</span><span th:if="${applicationForm.isWaitingForMoney()}">Do akceptacji - czeka na wpłatę</span></h3>
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td>
                    Imię i nazwisko:
                </td>
                <td><span th:text="${applicationForm.getUserName()}"></span> <span th:text="${applicationForm.getUserSurname()}"></span></td>
            </tr>
            <tr>
                <td>
                    Adres:
                </td>
                <td>
                    <span th:text="${applicationForm.getUserAddress()}"></span><br>
                    <span th:text="${applicationForm.getUserPostalCode()}"></span> <span th:text="${applicationForm.getCity()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    <span th:text="${applicationForm.getEmail()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Numer telefonu:
                </td>
                <td>
                    <span th:text="${applicationForm.getPhoneNumber()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Nazwa spółki:
                </td>
                <td>
                    <span th:text="${applicationForm.getCompanyName()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Współwłaściciele:
                </td>
                <td>
                    <span th:text="${applicationForm.getCoowners()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Forma prawna:
                </td>
                <td>
                    <span th:text="${applicationForm.getLegalForm()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    REGON:
                </td>
                <td>
                    <span th:text="${applicationForm.getRegon()}"></span>177604806
                </td>
            </tr>
            <tr>
                <td>
                    NIP:
                </td>
                <td>
                    <span th:text="${applicationForm.getNip()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    KRS:
                </td>
                <td>
                    <span th:text="${applicationForm.getKrs()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Data rozpoczęcia:
                </td>
                <td>
                    <span th:text="${applicationForm.getYearOfStarting()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Data wpisania do KRS:
                </td>
                <td>
                    <span th:text="${applicationForm.getDateOfEntireToKrs().toString()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Nazwa sklepu:
                </td>
                <td>
                    <span th:text="${applicationForm.getShopName()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Adres sklepu:
                </td>
                <td>
                    <span th:text="${applicationForm.getShopAddress()}"></span><br>
                    <span th:text="${applicationForm.getShopPostalCode()}"></span> <span th:text="${applicationForm.getShopCity()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Strona internetowa:
                </td>
                <td>
                    <span th:text="${applicationForm.getWebsite()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Kategorie:
                </td>
                <td>
                    <span th:text="${applicationForm.getCategories()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Opis działalności:
                </td>
                <td>
                    <span th:text="${applicationForm.getDescription()}"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <form th:if="${applicationForm.isWaiting()}" method="get" action="startApplicationConsidering">
                        <input name="appId" type="hidden" th:value="${applicationForm.getId()}">
                        <button type="submit" class="btn btn-primary" style="float:right;margin:8px">Zacznij rozpatrywanie</button>
                    </form>
                    <form th:if="${applicationForm.isConsidered()}" method="get" action="sendPaymentRequest">
                        <input name="appId" type="hidden" th:value="${applicationForm.getId()}">
                        <button type="submit" class="btn btn-primary" style="float:right;margin:8px">Wyślij prośbę o wpłatę</button>
                    </form>
                    <form th:if="${applicationForm.isWaitingForMoney()}" method="get" action="acceptApplication">
                        <input name="appId" type="hidden" th:value="${applicationForm.getId()}">
                        <button type="submit" class="btn btn-primary" style="float:right;margin:8px">Zaakceptuj</button>
                    </form>
                    <form method="get" action="rejectApplication">
                        <input name="appId" type="hidden" th:value="${applicationForm.getId()}">
                        <button type="submit" class="btn btn-primary" style="float:right;margin:8px">Odrzuć</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    </div>
    <br>
    <br>
</div>

<footer class="footer">
    <div class="container text-light">
        <p>Tu będzie nazwa naszej firmy<br>All rights reserved</p>
    </div>
    <script type="text/javascript" src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</footer>

<!--/.container-->


</body>
<script>
    $(document).ready(function () {
        $('[data-toggle=offcanvas]').click(function () {
            $('.row-offcanvas').toggleClass('active');
        });
    });
</script>
</html>